*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: medium;
}
.fa{
  margin-left: 10px;
  margin-bottom: 20px;
 
}
.fa:hover{
  color: #3c0201;
}
body{
  margin: 0;
  padding: 0;
  color: #0c0c0c;
  background-color: #ffffff;
  font-family: 'dancing script',cursive;
  font-family: 'Cinzel -Regular';
  font-family: 'league spartan',sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  height: .5rem;
  width: .5rem;
}
::-webkit-scrollbar-track{
  background: #fff;
}
::-webkit-scrollbar-thumb{
  background: #3c0201;
}
/*header section*/
.hero_area {
  height: calc(100vh - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container-fluid {
width: 1550px;
height: 90px;

  background-color: #f8f5f3;
 
}

.header_section .nav_container {
  margin: 0 auto;

}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #3c0201;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  right:300px;
  margin-bottom: 50px;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  color: #3c0201;
  margin-bottom: 100px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  font-family: "SnellBT Regular", sans-serif;
  color: #3c0201;
  position: relative;
  margin-top: -40px;
  right: 30px;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          
          color: #3c0201;

}

.quote_btn-container a {
  color: #3c0201;
 margin-bottom: 30px;
padding-right: 30px;


 
}

.custom_nav-container .nav_search-btn {
  width: 45px;
  height: 45px;
 padding: 0;
  border: none;
  color: #fff;

  
}
.form-inline {
  margin-bottom: 30px;
  margin-right: 10px;
}
.form-inline:hover{
  color: #3c0201;
}

.custom_nav-container {
  z-index: 99999;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #46200b;
  border-radius: 5px;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #46200b;
  border-radius: 5px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  background-color: transparent;
  height: 80%;
  background-image: url(../images/backkkk.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          height: 600px;
}

.slider_section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2550PX;
  height: 100%;



  z-index: 2;
}

.slider_section:after {
  content: "";
  position: absolute;
  top: 25px;
  right: 45px;
  width: 550px;
  height: 550px;
  background-size: cover;
  background-position: bottom right;
  z-index: 1;
  background-color: transparent;
}

.slider_section .detail_box {
  color: #ffffff;

}

.slider_section .detail_box h1 {
  font-size: 3rem;
  margin-left: 600px;
  margin-top: -100px;
  font-family: "SnellBT Regular", sans-serif;
  width: 1000px;
  color: #54413b;
}

.slider_section .detail_box h1 span {
  font-size: 2.5em;

}

.slider_section .detail_box a {
  display: -webkit-box;
  display: -ms-flexbox;
 display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SnellBT Regular", sans-serif;
  color: #ffffff;
  font-weight: 400;
  margin-top: 75px;
  font-size: 20px;
  margin-left: 630px;
  width: 500px;
}

.slider_section .detail_box a span {
  margin-right: -10px;
  font-family: "Great Vibes", cursive;
}


.slider_section .detail_box a img {
  width: 65px;
  margin-left: 20px;
  }


.slider_section #customCarousel1 {
  width: 100%;
  position: relative;
  z-index: 3;
}

.slider_section .carousel_btn-box {
  position: absolute;
  top: 45%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.slider_section .carousel_btn-box .carousel-control-prev,
.slider_section .carousel_btn-box .carousel-control-next {
  position: unset;
  width: 55px;
  height: 55px;
  font-size: 12px;
  background-color: #ffffff;
  opacity: 1;
  color: #a04120;
  margin: 2.5px 0;
}

.slider_section .carousel_btn-box .carousel-control-prev:hover,
.slider_section .carousel_btn-box .carousel-control-next:hover {
  color: #4d0200;
}

.about_section .detail-box p {
  color: #6c6c6c;
}
.shop{
  padding-top: 15px;
  padding-right: 0px;
  margin-left: -100px;
  
}
.shop-container{
  padding: -10px;
  
}
 
.shop-swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 40px;
  background: #fff;
  display: flex;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  margin-top: 80px;

}
.shop .swiper-slide .box{
  text-align: center;  
  width:400px ;
  height:100% ;
  

}
 .shop .swiper-slide img {
  padding: 1rem .2rem 2rem;
  background-color: #fff ;
  position: relative;
}
.shop  .image img{
  width: 340px;
  height: 350px;
  padding: 1,2rem;
  margin: auto;
}
.shop .swiper-slide .add{
  position: relative;  
  bottom: -0;
  top: -60px;
  left:2px;
  background-color: #FFCCCC;
  color: #371a12;
  width: 335px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.shop .swiper-slide .add a{
  text-decoration: none;
  color: #3c0201;
}
.shop .swiper-slide .add .lnr{
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 18px;
  margin-top: 8px;

}
.shop .swiper-slide .info{
padding: 0;
z-index: 1;
transition: all .4s ease-in-out;
position: relative;
top: -80px;
}
.shop .swiper-slide .info p{
color: #371a12;  
font-size: 1.8rem;
padding-top: 30px;
text-align: center;
margin-left: 100px;
}  
.shop .swiper-slide .info h4{
 font-weight: 300;
margin-left: 20px;
}  
.shop .swiper-slide .info span{
  color: #D90855;
}
.shop .swiper-slide .info h4{
 color:#777 ;
 font-size: 1.5rem;
 }  
 .shop .swiper-slide:hover .add{
  opacity:1;
  visibility: visible;
  bottom: -3rem;

 }
 .menu-btn a{
  color: #fff;
 }
 .shop .swiper-slide .add .lnr:hover{
  color: #FFCCCC ;
  background: #371a12;
  height: 60px;
  width: 50px;
  font-size: 20px;
 }
 .shop .swiper-slide:hover .info{
  box-shadow: 0 2px 40px 8px rgba(15, 15n, 15, 15);
  background: #fff;
  top:-50px;
 }
.shop .titre{
  text-align: center;
  font-family: 'dancing script',cursive;
  text-transform: lowercase;
  color: #8d5130;
  height: 50px;
}
.shop .titre h2{
  font-size: 60px;
  padding-bottom: 0px;
  font-family: 'dancing script',cursive;
  

}

.info-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap:1.5rem;
  background-color: #a97657;
}

.info-container .info{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border:0.1rem solid rgba(0,0,0,0.7);
  background: #fff;
}
.info-container .info:hover{
  background: var(--brown);
}

.info-container .info img{
  height: 7rem;
}

.info-container .info .content h3{
  font-size: 2rem;
  color: #222;
  padding-bottom: .5rem;
}

.info-container .info .content span{
  font-size: 1.5rem;
  color: #222;
}


.about{
  display: flex;
}
.about .about-img {
  padding: 30px ;
  padding-left: 130px;
  width: 800px;
  height: 700px;
}

.about .about-p {
  margin-top: 130px;
  border: #f0bf9f;
  background-color: #fff;
  margin-left: 100px;
}
.about .about-p h1{
  margin-bottom: 50px;
  color: #f0bf9f;
  font-family: 'dancing script',cursive;
  font-size: 55px;
}

/* -------contact-------------*/
.contact{
  background:#fff;
  padding: 20px;
}
.contact-container .titl{
  text-align: start;
  font-family: 'dancing script',cursive;
  text-transform: lowercase;
  color: #8d5130;
  font-size: 50px;
  margin-left: -70px;
  padding-bottom: 25px;
}
.contact .contact-container{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 8px;
}
.contact-container .left{
  width: calc(50% - 2rem);
}
.contact-container .right{
  width: calc(50% - 2rem);
}
.contact-form .form-name{
  width: 90%;
  gap: 1rem;
}
.contact-container .contact-form input,
.contact-container .contact-form textarea{
border: 1px solid #8d5130;
width:80%;
padding: 0.9rem;
margin: .4rem 10px;
margin-left: -130px;
}
.contact-container .contact-form .btn{
position: relative;
padding: 1rem;
cursor: pointer;
z-index: 11;
border: .1rem solid #8d5130;
background: none;
transition: all .4s ease-in-out;
color: #111111;
}


.contact-form .btn span{
  content: "";
  position: absolute;
  top: 0;
  left:10px;
  background:#FFCCCC;
  height: 0;
  width: 100%;
  border-bottom: .2rem solid black;
  transition: all .4s ease-in-out;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.contact-form .btn:hover span{
  opacity: 1;
  visibility:visible;
  height: 100%;
}
.contact-form .btn:hover{
  background-color: #FFCCCC;
}
 
.contact-container .right span{
font-weight: 500;
font-size: 1rem;
}

.M1 {
  display: flex;
   align-items: center;
    height:70px;
     width: 100%;
     background-color: #FFCCCC;
   padding: 0; 
   margin: 0;
}

.M1 img {
      max-width:30px; 
      margin-left: 20px;
      background-color: transparent;
     
}

.email {
  margin-left:600px;
   }
.email img{
position: relative;
left: 140px;
bottom: 3px;

   }
.m2:hover{
background-color:#4d0200; 
border: none;
} 
.NEWSLETTER{
display: flex;
padding: 0;
}
.NEWSLETTER p{
position: relative;
left: 5px;
bottom: -2px;

}
.m2{
background-color:#46200b;
font-size: 10px;
color: white;
border: none ;
width: 90px;
height: 30px;

}
.m3{
border-style: none;
width: 200px;
height: 30px;
margin-left: 50px;

}
.M3{
display: flex;
background-color:#FFCCCC;
height: 150px;
}
.btn{
margin-left: 200px;

}

.k1 {
width: 30px;
height: 30px;
margin-left: 50px; 
}
p{
position: relative;
right: 50px;
}
.k2{
width: 30px;
height: 30px;
}
.k3{
width: 30px;
height: 30px;
}

/* footer section*/
footer{
  background-color: #371a12;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.container10{
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */





:root{
    --brown:#a97657;
}


.banner-container .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background:var(--brown);
    color:#fff;
    font-size:1.7rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}
 .banner-container .btn:hover{
    background: #222;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding:3rem 9%;
}

.heading{
    background: url("img/heading-bg.jpg") no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
}

.heading h1{
    color: #fff;
    font-size:4rem;

}
.title {
    display:flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom:3rem;
    padding:1.2rem 0;
    border-bottom: 0.1rem solid rgba(0,0,0,0.7);
    color: #fff;
}
.title span{
    color: #222;
    padding-left: .7rem;
}
.title a{
    margin-left:auto;
    color: #222;
    font-size: 1.5rem;
}
.title a:hover{
    color: #fff;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    background: var(--brown);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
    font-size:2.5rem;
    font-weight: bolder;
    color:#ffffff;
}

.header .logo i{
    color:#222;
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: #222;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #fff;
}

.header .icons div:hover{
    color: #222;
}

#menu-btn{
    display: none;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateY(-5rem);
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
}
*{font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}
.home{
    padding-top: 14rem;
    background: url(img/home-bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #a97657;
}
 .home .slides-container .slide{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display:none;
}
.home .slides-container .slide.activ{
    display:flex;
}

.home .slides-container .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}

.home .slides-container .slide .content span{
    color: #000;
    font-size:2.5rem;
}

.home .slides-container .slide .content h3{
    font-size:6rem;
    color: #222;
    padding:.5rem 0;
}

.home .slides-container .slide .img{
    flex: 1 1 40rem;
    margin: 3rem 0;
}

.home .slides-container .slide .img img{
    width: 100%;
    animation: fadeUp .4s linear;
}

.home #next-slide,
.home #prev-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
    text-align: center;
    background: var(--brown);
    font-size:2rem;
    color: #fff;
    cursor: pointer;
}

.home #next-slide:hover,
.home #prev-slide:hover{
    background:#222;
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.home #prev-slide{
    left:2rem;
}

.home #next-slide{
    right:2rem;
}




.banner-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap:1.5rem;
    background-color: #a97657;
}

.banner-container .banner{
    position: relative;
    height: 25rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
}

.banner-container .banner img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.banner-container .banner .content span{
    color: #fff;
    font-size:1.5rem;
}

.banner-container .banner .content h3{
    font-size:2rem;
    padding-top:.5rem;
    color: #fff;
}

.banner-container .banner .content .btn{
    padding: .8rem 2.5rem;
}

.banner-container .banner:hover img{
    transform:scale(1.2);
}